<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucdenver.androidsecurity">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Home screen -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- Passcode Settings screen -->
        <activity
            android:name=".PasscodeActivity"
            android:label="@string/label_passcode_screen"
            android:parentActivityName=".MainActivity" />

        <!-- App Scan screen -->
        <activity
            android:name=".AppScanActivity"
            android:label="@string/label_appscan_screen"
            android:parentActivityName=".MainActivity" />

        <!-- Connections screen -->
        <activity
            android:name=".ConnectionsActivity"
            android:label="@string/label_connections_screen"
            android:parentActivityName=".MainActivity" />

        <!-- Other Settings screen -->
        <activity
            android:name=".OtherSettingsActivity"
            android:label="@string/label_othersettings_screen"
            android:parentActivityName=".MainActivity" />

        <!-- About screen -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/label_about_screen"
            android:parentActivityName=".MainActivity" />

        <!-- Administrator Receiver -->
        <receiver
            android:name=".DeviceSecurityAdminReceiver"
            android:description="@string/description_receiver"
            android:label="@string/label_receiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".WifiConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
            </intent-filter>
        </receiver>

        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminRequestActivity"></activity>
    </application>

</manifest>